/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  */
 @import "bootstrap";

.botondonar {
  padding-top: 30px;
}
.boton-idioma {
  float: right;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
  background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #d6bcd6;
  display:inline-block;
  cursor:pointer;
  color:#575757;
  font-family:Courier New;
  font-size:19px;
  padding:7px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
}
.boton-idioma:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
  background-color:#bab1ba;
  text-decoration: none;
}

.button-idioma:active {
  position:relative;
  top:1px;
}

.field {
  text-align:center;
  
}
.myButton {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #dedede));
  background:-moz-linear-gradient(top, #ffffff 5%, #dedede 100%);
  background:-webkit-linear-gradient(top, #ffffff 5%, #dedede 100%);
  background:-o-linear-gradient(top, #ffffff 5%, #dedede 100%);
  background:-ms-linear-gradient(top, #ffffff 5%, #dedede 100%);
  background:linear-gradient(to bottom, #ffffff 5%, #dedede 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dedede',GradientType=0);
  background-color:#ffffff;
  -moz-border-radius:42px;
  -webkit-border-radius:42px;
  border-radius:42px;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#575757;
  font-family:Courier New;
  font-size:20px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #d6d6d6;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dedede), color-stop(1, #ffffff));
  background:-moz-linear-gradient(top, #dedede 5%, #ffffff 100%);
  background:-webkit-linear-gradient(top, #dedede 5%, #ffffff 100%);
  background:-o-linear-gradient(top, #dedede 5%, #ffffff 100%);
  background:-ms-linear-gradient(top, #dedede 5%, #ffffff 100%);
  background:linear-gradient(to bottom, #dedede 5%, #ffffff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#ffffff',GradientType=0);
  background-color:#dedede;
  text-decoration: none;
}
.myButton:active {
  position:relative;
  top:1px;
}

body {
  margin-top: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#notice_wrapper {
  top: 0;
  left: 0;
  position: absolute;    
  width: 100%;
  z-index: 999;
  background: rgba(135,216,211,0.85);
  padding-top: 10px;
  font-family:Courier New;
  height: 50px;
.alert .notice {
  padding: 2.5rem 0;
  text-align: center;
  margin:0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 1px;
  }
}

.tabla-artista {
  width: 100%;
  padding-top: 10px;
}

.tabla-artista td {
  font-size: 13px;
}

.campo_busqueda{
  text-align: right;
  margin-right:10px;
}

.boton_buscar{
  padding: 2px;
  background-color: white;
  color: black;
  outline-style: solid;
  outline-width: 1px;
  font-family:Courier New;
  padding-top: 5px;
}

.busqueda{
  padding:2px;
  outline-width: 1px;
  outline-style: solid;
}

div {
	text-align: center;
}

tr:hover {
  background-color:#F0FFF0;}

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 100%;
  margin-bottom: -40px;
  padding-top: 50px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

th {
	font-family: "Courier", monospace;
	font-weight: bold;
	font-size: 15px;
 	border-bottom: 4px solid #000;
 	border-top: 4px solid #000;
 	/*border-left: 4px solid #000;*/
 	padding: 10px;
    text-align: center;
    width: 200px;

}

.colorboton{
	color: black;
}

.colorboton:hover{
	color: black;
}

.boton_galeria{
	width: 100px;
	border: 3px solid black;
	display: inline-block;
  padding: 10px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.boton_galeria:hover {
	background-color: white
}

.boton_galeria:active {
	background-color: white;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.boton_nuevaobra {
	width: 130px;
	border: 1px solid black;
	display: inline-block;
  padding: 10px 10px;
  font-family:Courier New;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin-bottom: -100px;
}

.boton_nuevaobra:hover {
	background-color: white;
  text-decoration: none;
}
.boton_nuevaobra:active {
	background-color: white;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.boton_exportar{
  float: left;
	width: 130px;
	border: 1px solid black;
	display: inline-block;
  padding: 10px 10px;
  font-family:Courier New;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: black;
  background-color: yellow;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.boton_exportar:hover {
	background-color: yellow;
}
.boton_exportar:active {
	background-color: yellow;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

td {
	border-left: 4px solid #000;
	padding: 10px;
  text-align: center;

  
}

th {
  cursor: pointer;
}

.fondopaisaje{
  background-image: url('fondo_app.png');
}

.bg{
   background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAABhJREFUCB1jYMAE/9GFiBeAq4QzoGb9BwAZXgb6+1TkfgAAAABJRU5ErkJggg==

   ) repeat;
   background-repeat: round;
}

.fondoshowobra{

}

.fondogradienteindex{
  background: rgb(252,255,244); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(252,255,244,1) 0%, rgba(223,229,215,1) 40%, rgba(179,190,173,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(252,255,244,1) 0%,rgba(223,229,215,1) 40%,rgba(179,190,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.contenedordeobras{
	background: #FFFFFF;
  border-style: solid;
	border-width: 1px;
	overflow: hidden; 
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  padding: 20px; 
  height: auto;
  width: 600px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.recuadroeditar{
  color: black;  
  text-align: center; 
  background: #f5f3f0; 
  overflow: hidden; 
  -webkit-box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  -moz-box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  padding: 20px; 
  height: 630px;
  width: 550px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}
.recuadrologin{
  color: black;  
  text-align: left; 
  background: #f5f3f0; 
  overflow: hidden; 
  -webkit-box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  -moz-box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  padding: 20px; 
  height: 500px;
  width: 450px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.recuadroregistrarse{
  color: black;  
  text-align: left; 
  background: #f5f3f0; 
  overflow: hidden; 
  -webkit-box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  -moz-box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  padding: 20px; 
  height: 500px;
  width: 350px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.recuadronuevaobra{
  color: black;  
  text-align: center; 
  background: #f5f3f0; 
  overflow: hidden; 
  -webkit-box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  -moz-box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  padding: 20px; 
  height: 800px;
  width: 600px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-left: 30px;
}

.recuadronuevaobra-galeria{
  color: black;  
  text-align: left; 
  background: #f5f3f0; 
  overflow: hidden; 
  -webkit-box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  -moz-box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  padding: 20px; 
  height: auto;
  width: 600px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.recuadroinicio {
  color: black;  
  text-align: center; 
  background: #f5f3f0; 
  overflow: hidden; 
  -webkit-box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  -moz-box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  box-shadow: 10px 10px 34px 19px rgba(107,81,107,1);
  -moz-border-radius: 13px 13px 13px 13px;
  -webkit-border-radius: 13px 13px 13px 13px;
  padding: 20px; 
  height: auto;
  width: 340px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.btn-warning{
	color: orange;
}

.btn-outline-warning a{
	color: orange;
}

.btn-outline-success a{
	color: green;
}

.btn-dark a{
	color: white;
	font-family: helvetica;
}

.btn-group a{
	color: white;
}


.fadein_largo{

	animation: fadein 3s;
}

.fadeout_largo{

	animation: fadein 1s;
}

@keyframes fadein_largo {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeout_largo {
	from {opacity: 1;}
	to {opacity: 0;}
}

.fadein{

	animation: fadein 1s;
}

.fadeout{

	animation: fadein 1s;
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeout {
	from {opacity: 1;}
	to {opacity: 0;}
}

.actions {
  
}
